
###> symfony/framework-bundle ###
/app/.env
/app/public/bundles/
/app/var/
/app/vendor/
/data
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/app/.phpunit
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/app/.web-server-pid
###< symfony/web-server-bundle ###
