{% extends 'base.html.twig' %}

{% block title %}Calculate Factorial{% endblock %}

{% block body %}
    <h2 class="h4 mb-4 font-weight-normal">Calculated Factorial</h2>
    {% if result %}
        {% for res in result %}
            <div class="card-subtitle">
                <label class="label mb-4"> {{ res.numberFactorial }}! = {{ res.rezult }} </label>
            </div>
        {% endfor %}
    {% else %}
        <div class="card-subtitle">
            <label class="label mb-4">Not calculated factorial.</label>
        </div>
    {% endif %}
{% endblock %}